<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Bem Vindo!</h1>
        <p class="lead text-muted">
            Sistema de cadastramento de produtos.
        </p>
    </div>
</section>