<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Produtos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#cadastrar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
        Cadastrar
    </button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th class="text-right">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itens">
                <td><strong>#{{ item.id }}</strong></td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td class="text-right">
                    <button class="btn btn-sm btn-outline-primary" ng-click="EditProduct(item.id)" data-toggle="modal" data-target="#editar"> Editar </button>
                    <button class="btn btn-sm btn-outline-danger" ng-click="DeleteProduct(item.id)"> Deletar </button>
                </td>   
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="cadastrar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="m-0" method="POST" name="addItem" role="form" ng-submit="SaveProduct()">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label>Nome do Produto:</label>
                                <div class="form-group">
                                    <input ng-model="form.name" type="text" name="name" class="form-control" required/>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Quantidade:</label>
                                <div class="form-group">
                                    <input ng-model="form.amount" type="number" name="amount" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="m-0" method="POST" name="addItem" role="form" ng-submit="UpdateProduct()">
                <input type="hidden" ng-model="formedit.id"/>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <label>Nome do Produto:</label>
                                <div class="form-group">
                                    <input ng-model="formedit.name" type="text" name="name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Quantidade:</label>
                                <div class="form-group">
                                    <input ng-model="formedit.amount" type="number" name="amount" class="form-control"
                                        required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.modal').on('hidden.bs.modal', function() {
        $(this).find('input:text, input:hidden').val('');
    });
});
</script>